.form-container{
    padding: 20px;
    margin: 10px;
    background-color: darkgreen;
}
.form-container form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container form div{
    margin: 10px;
    padding: 5px;
}
.form-container form input{
    width: 300px;
    outline: none;
    padding: 10px 0;
    border-radius: 10px;
}
.form-container form label{
    padding: 5px;
}
.form-container button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container p{
    color: white;
}